.categories{
    width: 100%;
    /* background-color: yellow; */
    padding: 1vmax 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmax;

}
.categorie{
    width: 15vmax;
    height: 15vmax;
    background-color: gray;
    border-radius: 10px;
    padding: 1vmax 1vmax;
    overflow: hidden;

}
.cover{
    width: 7vmax;
    height: 7vmax;
    background-color: #fff;
    position: relative;
    left: 8vmax;
    top: 4.5vmax;
    transform: rotate(18deg);
}
.cover>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}