.likedSongs_bg {
    width: 32vmax;
    height: 35vh;
    background-image: linear-gradient(to right bottom, #440feb, #491fe8, #4e2ae5, #5333e2, #583bdf, #5e45df, #634fdf, #6958de, #7266e1, #7b74e3, #8582e4, #908fe5);
    border-radius: 10px;
    padding: 6vmax 2vmax;
}
.likedSongs_bg>h6{
    line-height: 1.38vmax;
    color: #fff;
}
.likedSongs_bg>h6>span {
    max-width: 30vmax;
    color: rgb(192, 192, 192);
}

.likedSongs_bg>h3 {
    padding-top: 2.2vmax;
    padding-bottom: 0.5vmax;
}

.likedSongs_bg>h5 {
    font-size: 1.1vmax;

}