.header {
    width: inherit;
    height: 50vh;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    gap: 2vmax;
    padding: 13vh 0;

}

.left {
    width: fit-content;
    background-color: #fff;
}

.left>img {
    width: 16vmax;
}

.right {
    width: 40vmax;
    padding: 3vh 0;

}

.right>h1 {
    font-size: 6vmax;
    white-space: nowrap;
}

.desc {
    padding: 2vh 0;
}

.desc>h4 {
    font-size: 0.9vmax;
    line-height: 1.3vmax;
}