.right{
    background-color: #121212;
    width: 100%;
}

.fix_nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 82vmax;
    background-color: #fff;
}

.outlets{
    padding: 8vh 0;
}