.left {
  width: 15vmax;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  padding: 3vh 2vw;
  position: fixed;
}

.spotify_logo {
  width: 9vmax;
}

.options {
  display: flex;
  flex-direction: column;
}

.main_logos {
  padding: 3.5vh 0vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.main_list {
  width: 10vw;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 1.2vw;
  object-fit: contain;
}

.main_list>svg {
  color: #fff;
}

.main_list>h6 {
  margin-top: 7px;
  font-size: 0.9vw;
  /* background-color: skyblue; */
}

.secOptions {
  margin-top: -1vw;
}

.box {
  width: 20px;
  height: 20px;
  background-color: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlists {
  margin-top: -2.1vw;
  width: 23.5vh;
  /* background-color: skyblue; */
  max-height: 16vmax;
  overflow-y: scroll;

}

.playlists::-webkit-scrollbar {
  width: 13px;

}

.playlists::-webkit-scrollbar-thumb {
  background-color: rgb(22, 22, 22);
}

.playlist_name {
  height: 1.3vmax;
}

.install {
  display: flex;
  gap: 10px;
}

.install>h6 {
  margin-top: 1px;
}

.warp {
  display: flex;
}

.right {
  width: 100vmax;

  background-color: rgb(2, 7, 31);
  padding-left: 3vw;
  /* max-height: 50vh; */
  min-height: 100vh;
  padding-bottom: 25vmax;

}

.nav {
  position: fixed;
  width: 84.999%;
  left: 15vmax;
  padding-left: 2vw;
  z-index: 99999;
}

.footer {
  background-color: red;
  position: fixed;
  bottom: 0vw;
  width: 100%;
}

.welcome_msg {
  width: 81.8vmax;
  position: relative;
  top: 6vw;
  left: 14vmax;
  color: #fff;

}

.wel_cards {
  display: flex;
  padding-top: 1.1vmax;

  gap: 2vmax;
  padding-bottom: 5.9vw;
}

.item {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 25vmax;
  height: 5.7vmax;
  background-color: rgba(65, 64, 64, 0.473);
  gap: 10px;
  border-radius: 7px;
}

.bigBox {
  width: 5.7vmax;
  height: inherit;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8vw;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.bigBox>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.shows_to_try {
  padding-top: 2vmax;
}
/* .shows_to_try >  */