.wrap {
  display: flex;
  gap: 2vmax;
  background-color: #121212;
}

.left {
  width: 15vmax;
  height: 100vh;
  background-color: yellow;
}

.right {
  width: 84vmax;
  padding-top: 1vmax;
  color: #fff;
  background-color: rgb(18, 19, 19);
  overflow: scroll;

}
.right::-webkit-scrollbar{
  display: none;
}

.nav {
  position: fixed;
  width: 84vmax;
  left: 15vmax;
  padding-left: 1.6555vw;
  z-index: 99999;
  display: flex;
  padding-right: 0.2vmax;
  justify-content: space-between;
}

.searchFor {
  padding-top: 7vmax;
  height: fit-content;
}

.searchFor>h3 {
  margin-bottom: 1.5vmax;
}

.footer {
  background-color: red;
  position: fixed;
  bottom: 0vw;
  width: 100%;
}