.outlets {
    padding: -5vh 0;
    width: 82vmax;
}

.mainDiv {
    padding-top: 2vmax;
    width: inherit;
    height: 40vh;
}

.interactions {
    display: flex;
    align-items: center;
    gap: 2vmax;
    padding-bottom: 2.5vmax;
}

.songCollections {
    width: 82vmax;
    padding: 2vh 2vmax;
    padding-bottom: 9vmax;
}

.topBar {
    width: 75vmax;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dadada46;
}

.left {
    display: flex;
    gap: 1vmax;
    margin-left: 1.3vmax;
    align-items: center;
}

.left>img {
    height: 3vmax;
}

.lists {
    width: 75vmax;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    gap: 0.5vmax;
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.hoverControl {
    width: 1vmax;
}

.list:hover {
    background-color: rgb(41, 40, 40);
    cursor: pointer;
}

.box>.play {
    display: none;
}

.list:hover .count {
    display: none;
}

.list:hover .play {
    display: initial;
    font-size: 1.2vmax;
    margin-left: -0.3vmax;
}



.musicDesc>h5 {
    font-size: 1.2vmax;
    line-height: 0.9vmax;
    padding-top: 4px;

}

.musicDesc>h6 {
    font-size: 0.9vmax;
}

.musicDesc {
    width: 20vmax;
    height: inherit;
}

.mainTitle {
    width: 20.5vmax;
}

.album {
    margin-left: -6.8vmax;
}

.album>h6 {
    font-size: 0.9vmax;

}

.showPlay {
    margin-left: -0.4vw;
}